*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url("./public/fonts/MuseoSansCyrl500.eot");
    src: url("./public/fonts/MuseoSansCyrl500.eot?#iefix")format("embedded-opentype"),
    url("./public/fonts/MuseoSansCyrl500.woff") format("woff"),
    url("./public/fonts/MuseoSansCyrl500.ttf") format("truetype");
}

@mixin contact(){
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;  
    background-color: $COLOR__GRAY;    
}


//Переменные
 //fonts size
 $FONT_TITLE: 24px;
 $FONT_TEXT: 15px;
 $FONT__QUESTION: 13px;
     //colors
 $COLOR_BLACK: rgba(26, 26, 26, 1);
 $COLOR_GREEN: rgba(54, 186, 95, 1);
 $COLOR_WHITE: rgba(255, 255, 255, 1);   
 $COLOR__GRAY: rgba(249, 249, 249, 1);   

.container{
    display: block;
    margin: auto;
    max-width: 1920px;
    .main{
        width: 100vw;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        
        .delivery{
            display: flex;
            flex-direction: column;
            margin: 22px 0 0 40px;
            .delivery__header{
                display: flex;
                align-items: center;
                .delivery__title{
                    font-family: "Museo Sans Cyrl";
                    font-size: $FONT_TITLE;
                    font-weight: 700;
                    line-height: 28.8px;
                    text-align: left;
                    color: $COLOR_BLACK;
                }
                .delivery__share{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 15px;
                    img{
                        width: 18px;
                        height: 19.92px;                        
                    }
                }
            }
            .delivery__discription{
                margin-top: 16px;
                max-width: 690px;
                font-family: "Museo Sans Cyrl";
                font-size: $FONT_TEXT;
                font-weight: 400;
                line-height: 21px;
                text-align: left;
                color: $COLOR_BLACK;
            }
            .delivery__question{
                margin-top: 16px;
                font-family: "Museo Sans Cyrl";
                font-size: $FONT__QUESTION;
                font-weight: 600;
                line-height: 15.6px;
                text-align: left;
                color: $COLOR_BLACK;
            }
            .delivery__buttons{
                padding-bottom: 80px;
                margin-top: 16px;
                display: flex;                
                align-items: center;                
                .delivery__chat{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 224px;                
                    padding: 15px 57px 15px 56px;
                    border-radius: 12px;
                    background-color: $COLOR_GREEN;
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    p{
                        margin-left: 8px;
                        font-family: "Museo Sans Cyrl";
                        font-size: $FONT_TEXT;
                        font-weight: 600;
                        line-height: 18px;
                        text-align: center;
                        color: $COLOR_WHITE;
                        white-space: nowrap;
                    }
                }
                div{
                    display: flex;
                    .delivery__phone{
                        @include contact();
                    }
                    .delivery__mail{
                        @include contact();
                    }
                }
            }
        }
    }
}

@media (max-width: 730px){
    .container{        
        .main{   
            .delivery{
                margin: 22px 22px 0 40px;
            }
        }
    }
}

@media (max-width: 430px){
    .container{        
        .main{   
            .delivery{
                .delivery__buttons{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center; 
                    a{
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}